<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.marveldirectory">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required Clear Text Traffic to be due to image url being http -->
    <!-- https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted -->

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_motivation"
            android:usesCleartextTraffic="true"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_motivation"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>